{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "quoteProps": "as-needed",
  "printWidth": 100,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "useTabs": false
}
